{% extends "core/base.html" %}{{clasi}}
{% load static %}
<title>{% block title %}Nuestros Poemas{% endblock  %} </title>
{% block TitleHeader %}
<h1 class="display-4 text-white animated slideInDown mb-3">Clasificación de los Poemas</h1> 
{% endblock  %}
{% block content %}
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-primary text-uppercase mb-2">// Pensamientos del Alma</p>
                <h1 class="display-6 mb-4">¿Cuáles seran nustros poemas?</h1>
                <p class="mb-5"> Este compendio de reflexiones líricas promete ser un faro que guía al lector a través de las emociones universales, ofreciendo un eco resonante que conecta nuestras almas en la búsqueda compartida de significado y comprensión. Con cada palabra, "Pensamientos del Alma" promete ser un recordatorio poético de nuestra propia humanidad.</p>
                <div class="row gy-5 gx-4">
                    {% for clasi in clasi %}
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-book text-white"></i>
                            </div>
                            <h5 class="mb-0">{{clasi.title}}</h5>
                        </div>
                        <span>{{clasi.content}}</span>
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <h5>Autor: {{clasi.author}}</h5><br>{% comment %}<a href="#">{{clasi.clasification}}</a> {% endcomment %}
                            {% for category in clasi.clasification.all %}
                            <a href="{% url 'category' category.id %}">{{category.name}}</a> {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="{% static 'core/img/libro1.jpg' %}" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="{% static 'core/img/libro3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}